#annotationCanvas {
    -webkit-box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.75);

    margin-top: 5px;
    border: 1px solid rgba(50, 50, 50, 0.75);
}

#annotationDivs {
    display: block;
    position: absolute;
}

.annotationDeleteButtonDiv, .annotationOutline, .annotationOverlay {
    position: absolute;
    display: inline-block;
}

.annotationDeleteButtonDiv{
    display: none;
    text-align: right;
    z-index: 10;
    cursor: pointer;
}

.annotationOutline {
    border: 1px solid #2222cc;
    cursor: pointer;
}

.annotationOverlay {
    background-color: #ffcc22;
    border: 1px solid black;
    border-top: none;
    display: none;
    -webkit-box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.75);
}

.annotationOutlineWrapper.selected .annotationOutline {
    /*border: 2px solid black;*/
}

.annotationOutlineWrapper.hover .annotationOutline {
    -webkit-box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.15);
    box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.15);
    border: 2px solid blue;
}

.annotationOutlineWrapper.hover .annotationOverlay,
.annotationOutlineWrapper.selected .annotationOverlay {
    z-index: 5;
    display: block;
}

.annotationOutlineWrapper.hover .annotationDeleteButtonDiv,
.annotationOutlineWrapper.selected .annotationDeleteButtonDiv {
    display: block;
}

.annotationOutlineWrapper.noArabic .annotationOutline {
    border: 1px solid red;
}

.annotationOutlineWrapper.noLatin .annotationOutline {
    border: 1px solid orange;
}

.annotationOutlineWrapper.noArabic.noLatin .annotationOutline {
    border: 1px solid red;
}

.annotationOverlay .tr_arabic{
    font-size: xx-large;
}

.text,
.text span {
    white-space: nowrap;
}